@import "../../../constants/_colors";

.page-module{
    width: 100%;
    background-color: $lightgrey;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    .page-title{
        margin-bottom: 40px;
        font-size: 35px;
    }
}