

.planning{
    display: flex;
    justify-content: space-between;
    &__item{
        label{
            margin-left: 10px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__recurring{
        margin-right: 50px;
    }

    &__days{
        &-item{
            margin-bottom: 5px;
            label{
                margin-left: 10px;
                font-size: 17px;
                cursor: pointer;

            }
        }
    }
    .input{
        padding-right: 5px;
        margin-left: 10px;
    }
}